@use "sass:map";

// $base-background: #000000;
$background: (
    "static": #272538,
    // "normal": #292e42,
    "normal": #24293b,
    "good": #272d2d,
    "warning": #2e2a2d,
    "critical": #2d202a,
    "darker": #16161e,
    "dark": #1a1b26,
);
$accent: (
    "static": #9d7cd8,
    "normal": #7aa2f7,
    "good": #9ece6a,
    "warning": #e0af68,
    "critical": #db4b4b,
);
$inactive: (
    "static": #5c4c7f,
    "normal": #4a5f8f,
    "good": #5c7548,
    "warning": #7d6547,
    "critical": #7b3339,
    "dark": #565f89,
);
$hover: (
    "static": #2e2a41,
    "normal": #282f45,
    "good": #2e3630,
    "warning": #383130,
    "critical": #37222c,
);

* { all: unset; }

.bar {
    font-family: remixicon, Manrope;
    font-size: 12px;

    .group {
        padding: 10px;
    }

    .icon {
        font-size: 16px;
    }

    .component, .icon, .workspace, highlight {
        transition: background-color 200ms ease-out;
        label {
            transition: color 200ms ease-out;
        }
    }

    .component, .icon, .workspace, .info, button, .slider, highlight {
        border-radius: 3px;
    }
    .info {
        padding: 0px 5px;
    }

    .slider {
        margin-left: 2px;
        min-width: 60px;
        highlight {
            min-height: 20px;
        }
    }

    button {
        transition: background-color 100ms ease-out;
        .info label {
            transition: color 50ms ease-out;
        }
    }

    .todo {
        transition: transform 200ms;
        padding: 0px 7px;
        border-radius: 10px 3px 3px 10px;
        background-color: map.get($background, "dark");
        color: map.get($inactive, "dark");
        :first-child {
            min-height: 6px;
            min-width: 6px;
            border-radius: 3px;
            margin: 7px 0px;
            background-color: map.get($inactive, "dark");
        }
        :hover {
            background-color: map.get($background, "normal");
            color: map.get($accent, "normal");
            :first-child {
                background-color: map.get($accent, "normal");
            }
        }
    }

    .workspace {
        button:hover {
            background-color: map.get($hover, "normal")
        }
        .title {
            font-size: 11px;
            padding: 0 5px 0 0;
        }
        &.active {
            background-color: map.get($background, "normal");
            color: map.get($accent, "normal");
            .header {
                background-color: map.get($accent, "normal");
                color: map.get($background, "normal");
            }
        }
        &:not(.active) {
            background-color: map.get($background, "dark");
            color: map.get($inactive, "dark");
            .header:hover, button:hover {
                background-color: map.get($background, "normal");
            }
        }
    }
}

$power-item-type-map: (
    "shutdown": "critical",
    "reboot": "warning",
    "logout": "good",
    "lock": "normal",
    "suspend": "static",
);

.power {
    @each $item, $type in $power-item-type-map {
        .#{$item} {
            background-color: map.get($background, $type);
            color: map.get($accent, $type);
            &:hover {
                background-color: map.get($accent, $type);
                color: map.get($background, $type);
            }
        }
    }
}

.component.disabled {
    background-color: map.get($background, "dark");
    color: map.get($inactive, "dark");
    highlight {
        background-color: map.get($inactive, "dark");
    }
}

@each $type in "normal", "warning", "critical", "static", "good" {
    .component.#{$type}:not(.disabled) {
        background-color: map.get($background, $type);
        color: map.get($accent, $type);
        button:hover {
            background-color: map.get($hover, $type);
        }
        .icon {
            background-color: map.get($accent, $type);
            color: map.get($background, $type);
        }
        .inactive {
            color: map.get($inactive, $type);
        }
        .slider highlight {
            background-color: map.get($accent, $type);
        }
    }
}
