@use "sass:map";
@use "themes/tokyonight" as theme;

* {
    all: unset;

    font-family: remixicon, Manrope;
    font-size: 12px;

    border-radius: 3px;

    // transition-duration: 100ms;
    // transition-timing-function: ease-out;
    // transition-property: all;
    // button:not(.not-button) {
    //     transition: background-color 60ms, color 25ms;
    // }
}

.component-group {
    $padding: 5px;
    margin: calc(10px - $padding);
    padding: $padding;
    background-color: rgba(theme.$empty, 100%);
    border-radius: calc(3px + $padding);
}

@each $name, $color in theme.$colors {
    .#{$name}:not(.disabled):not(.inactive):not(.power-button) {
        background-color: rgba($color, 10%);
        color: $color;
        .icon, .header {
            background-color: $color;
            color: mix($color, theme.$empty, 10%);
        }
        button:hover:not(:active):not(.not-button) {
            background-color: rgba($color, 10%);
            .icon, .header {
                background-color: rgba($color, 65%);
            }
        }
        .inactive {
            color: mix($color, theme.$empty, 50%);
        }
    }
    .#{$name}:not(.disabled) {
        .slider highlight {
            background-color: $color;
        }
    }
    .#{$name}.inactive {
        background-color: rgba($color, 5%);
        color: $color;
        button:hover:not(:active):not(.not-button) {
            background-color: rgba($color, 10%);
        }
        .inactive {
            color: mix($color, theme.$empty, 50%);
        }
    }
    .#{$name}.power-button {
        background-color: rgba($color, 0%);
        color: $color;
        &:hover:not(:active) {
            background-color: $color;
            color: mix($color, theme.$empty, 10%);
        }
    }
}

.disabled {
    background-color: rgba(theme.$disabled, 5%);
    color: theme.$disabled;
    highlight {
        background-color: theme.$disabled;
    }
    button:hover:not(:active):not(.not-button) {
        background-color: rgba(theme.$disabled, 10%);
    }
}

.power {
    &:hover {
        background: linear-gradient(to right,
            rgba(map.get(theme.$colors, "red"), 10%) percentage(10 / 108),
            rgba(map.get(theme.$colors, "yellow"), 10%) percentage(32 / 108),
            rgba(map.get(theme.$colors, "green"), 10%) percentage(54 / 108),
            rgba(map.get(theme.$colors, "blue"), 10%) percentage(76 / 108),
            rgba(map.get(theme.$colors, "magenta"), 10%) percentage(98 / 108));
    }
    &:not(:hover) {
        background-color: rgba(map.get(theme.$colors, "magenta"), 5%);
    }
}

.icon, .icon label {
    font-size: 16px;
}

.arrow {
    font-size: 15px;
}

.inner {
    padding: 0px 3px;
}

.inner-append {
    padding-left: 3px;
}

.inner-prepend {
    padding-right: 3px;
}

.content {
    padding: 0px 5px;
}

.window-title, .bluetooth-alias {
    font-size: 11px;
    padding-left: 5px;
}

.info, .microphone-name, .wifi-ssid {
    font-size: 11px;
}

.slider {
    margin-left: 2px;
    min-width: 60px;
    highlight {
        min-height: 20px;
    }
}

//
// .todolist {
//     padding: 10px 5px 0 12px;
//     background-color: map.get($background, "darker");
// }
//
// .todo {
//     transition: transform 200ms;
//     padding: 0px 7px;
//     border-radius: 10px 3px 3px 10px;
//     background-color: map.get($background, "dark");
//     color: map.get($inactive, "dark");
//     :first-child {
//         min-height: 6px;
//         min-width: 6px;
//         border-radius: 3px;
//         margin: 7px 0px;
//         background-color: map.get($inactive, "dark");
//     }
//     :hover {
//         background-color: map.get($background, "normal");
//         color: map.get($accent, "normal");
//         :first-child {
//             background-color: map.get($accent, "normal");
//         }
//     }
// }
